<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href='/static/format.css' />
</head>

<body>

  <h1>Total Job Valuation Predictor in Texas</h1>


  <h2>
    This user interface accepts integers and decimal values for the following features that represents
    the specific job attributes. From these job attributes, 2 models are displayed: a simple linear regression and a random forest model. 
    These models are already trained using data from Texas over the past several years.
  </h2>

  <p>
    Currently all inputs ACCEPT only one number!
  </p>

  <script>
    function testingButton(){
      alert(
        "Please be patient and press ok!"
      );
    }
  </script>

  <form method="post" action="/prediction/">
    <div>
      <label> Total Newly Added SQFT </label>
      <input type="number" name="TotalSqft" />
    </div>
    <div>
      <label> Remodel Repair SQFT </label>
      <input type="number" name="Variable1" />
    </div>
    <div>
      <label> Total Valuation Remodel </label>
      <input type="number" name="Variable2" />
    </div>
    <div>
      <label> Number Of Floors </label>
      <input type="number" name="Variable3" />
    </div>
    <div>
      <label> Total Lot SQFT </label>
      <input type="number" name="Variable4" />
    </div>
    <input type="submit" value="Submit Data" name="submitButton" onclick="testingButton()" />
  </form>




</body>

</html>