<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href='/static/format.css' />
</head>
<body>


  <h3>Total Job Valuation Predictor</h3>
    <form method="post" action="/prediction/">
    <div>
      <label> Total SQFT </label>
      <input type= "number" name="TotalSqft"/>
    </div>
    <div>
      <label> Variable 1 </label>
      <input type= "number" name="Variable1"/>
    </div>
    <div>
      <label> Variable 2 </label>
      <input type= "number" name="Variable2"/>
    </div>
    <div>
      <label> Variable 3 </label>
      <input type= "number" name="Variable3"/>
    </div>
    <div>
      <label> Variable 4 </label>
      <input type= "number" name="Variable4"/>
    </div>
    <div>
      <label> Variable 5  </label>
      <input type= "number" name="Variable5"/>
    </div>
    <input type = "submit" value="Linear Regr." name="submitButton"/>
    </form>


</body>
</html>