
html {
  background-image: linear-gradient(rgb(58, 58, 175),rgb(196, 45, 196));
  background-attachment: fixed;
}

h2{
  color: white;
  font-size: xx-large;
}

body{
  text-align: center;
}

p{
  color: white;
}


div{
  margin-top: 50px;
  margin-bottom: 50px;
}

label {
  color: rgb(255, 255, 255);
  margin-right: 30px;
  }