
html {
  background-image: linear-gradient(rgb(58, 58, 175),rgb(196, 45, 196));
  background-attachment: fixed;
}

body {
  text-align: center;
}

h1,h2,p {color: white;}

h1 {
  font-family: Georgia, serif;
  font-size: xx-large;
}

h2,p,label {
  font-family: Verdana, Geneva, sans-serif;
}


div {
  margin-top: 50px;
  margin-bottom: 50px;
}

label {
  color: rgb(255, 255, 255);
  margin-right: 30px;
}